body{
    margin: 0px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.head{
    background-color: #6A0066;
    margin: 0px 0px;
    color: #FF0066;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #934790;
    color: #E8D4B7;
    height: auto;
    padding-bottom: 50px;
}

h1{
    font-size: 100px
}
#home-score,#guest-score{
    color: #FF0066;
    background-color: #6A0066;
    padding: 89px;
    font-weight: bold;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

button{
    background-color: #934790;
    border: 4px solid #FF0066;
    color: #E8D4B7;
    font-size: 40px;
    padding: 10px 20px;
    width: 100px;
    border-radius: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
}

#reset{
    height: 100px;
    width: 200px;
}

#fix{
    background-color: #6A0066;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
